<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content%}
<!-- forked from: https://codepen.io/cuonoj/pen/JjPmMaB -->
<section id= "hero" class="relative h-screen flex flex-col items-center justify-center text-center text-white">
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
        <video class="min-w-full min-h-full absolute object-cover"
            src="https://videos.pexels.com/video-files/2943126/2943126-uhd_2560_1440_24fps.mp4"
            type="video/mp4" autoplay muted loop></video>
    </div>
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-40"></div>
    <div class="video-content space-y-2 z-10">
        <h1 class="font-light text-6xl">Ship your Projects Faster</h1>
        <h3 class="font-light text-3xl">with Deploy Box</h3>
    </div>
</section>
<section class="m-10 flex flex-col items-center">
  <div class="mb-10 text-center lg:w-1/2">
    <h1 class="text-6xl mb-10">Current Stacks</h1>
    <p> Stacks are our way of delivering easy to use containerized <a href="/stacks" class="text-emerald-400 font-bold">tech-stacks</a> that are ready out of the box. We support all popular stacks, including some of our own. We also have a diverse community of stack developers for entreprenuers looking for full stack support to help bring thier ideas to life. Check out some of our current stacks below.</p>
  </div>
    <div
      class="p-10 rounded-l-xl border border-blue-gray-100 rounded-xl bg-no-repeat lg:bg-contain bg-cover bg-right mb-5 w-2/3"
    >
      <p
        class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 font-bold mb-2"
      >
        Most Popuar Stack
      </p>
      <h3
        class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900"
      >
        MERN
      </h3>
      <p
        class="block antialiased font-sans text-base font-light leading-relaxed text-inherit mt-2 mb-6 !text-base font-normal text-gray-500"
      >
        MERN stands for MondoDB, Express.js, React, and Node.js. It is a modern stack that uses a combination of modern frameworks and a no sql database to ensure you spin up your webapp as quicky as possible.
      </p>
      <a href="/stacks">
        <button
          class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0"
          type="button"
          data-ripple-dark="true"
        >
          Download Container
        </button>
      </a>
      <button
      class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0 mt-4 md:mt-0"
      type="button"
      data-ripple-dark="true"
    >
      Find MERN Devs
    </button>
    </div>

      <div
      class="p-10 rounded-l-xl border border-blue-gray-100 rounded-xl bg-no-repeat lg:bg-contain bg-cover bg-right mb-5 w-2/3"
    >
      <p
        class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 font-bold mb-2"
      >
        For Angular Fans
      </p>
      <h3
        class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900"
      >
        MEAN
      </h3>
      <p
        class="block antialiased font-sans text-base font-light leading-relaxed text-inherit mt-2 mb-6 !text-base font-normal text-gray-500"
      >
        MEAN stands for MondoDB, Express.js, Angular, and Node.js. It is one of the most used tech stacks but requires a slightly higher learning curve than our MERN stack.
      </p>
      <a href="/stacks">
        <button
          class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0"
          type="button"
          data-ripple-dark="true"
        >
          Download Container
        </button>
      </a>
      <button
      class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0 mt-4 md:mt-0"
      type="button"
      data-ripple-dark="true"
    >
      Find MEAN Devs
    </button>
    </div>
    <a href="/stacks">
        <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0 sm:mt-2"
        type="button"
        data-ripple-dark="true"
      >
        View our Full Selection
      </button>
    </a>
    <div class="flex justify-center items-center bg-zinc-950">
      <div class="w-2/3 border-t-2 border-zinc-950"></div>
    </div>  
  </section>
      <!-- about us section -->
  <section>
    <div class="flex flex-col md:flex-row h-auto">
      <div class="w-full md:w-1/2 p-10 flex jsutify-center items-center">
        <div class="text center">
          <h2 class=" text-6xl mb-10 text-center">Our Team</h2>
          <p class=" text-center mb-5 text-lg">We are a dynamic team of recent college graduates who are passionate about <a class="text-emerald-400 font-bold">simplifying the development process</a> and bridging the gap between skilled developers and exciting career opportunities. Our journey began with a shared vision: to create a platform that not only empowers developers but also accelerates the way companies <a class="text-emerald-400 font-bold">build, deploy, and scale</a> their applications.</p>
          <p class=" text-center mb-5 text-lg">Our company provides <a class="text-emerald-400 font-bold">pre-containerized</a> versions of the most popular tech stacks, enabling developers to bypass the time-consuming setup process and focus on what really matters—writing code and building innovative solutions. By offering these ready-to-go development environments, we remove the friction of configuring software, dependencies, and infrastructure, allowing developers to spin up environments in a matter of minutes instead of hours or days.</p>
          <p class=" text-center mb-5 text-lg">In addition to providing powerful tools for developers, we also operate a <a class="text-emerald-400 font-bold">marketplace</a> designed to connect <a class="text-emerald-400 font-bold">full-stack developers</a> with companies looking for top-tier talent. Whether you’re a developer seeking your next freelance project, a remote position, or a full-time opportunity, our platform helps you connect with businesses that align with your skills and career goals. Companies, on the other hand, benefit from a curated pool of talented developers ready to contribute to their projects, saving time and effort in the hiring process.</p>
          <p class=" text-center mb-5 text-lg">Our mission is to foster a community where developers can <a class="text-emerald-400 font-bold">grow, collaborate, and thrive</a> while delivering high-quality solutions to businesses in need of innovation. We're dedicated to making development more accessible, streamlined, and efficient—helping developers and companies alike reach their fullest potential. As recent graduates ourselves, we understand the challenges of navigating the tech world and are committed to empowering others through better tools, meaningful opportunities, and an ecosystem built for success.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-4 flex jsutify-center items-center">
        <img class="rounded-full" src="{% static 'about_image.png' %}"/>
      </div>
  </div>  
  </section>
  {% endblock %}

  <style>
      .video-docker video {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }

      .video-docker::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
      }
  </style>
</html>