
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-wrap md items-center h-[750]">
  <div class="bg-white w-full md:w-1/2 h-[750]">
    <div class="mx-32">
      <h1 class="text-6xl font-bold mt-16">Stacks</h1>

      <!-- country region island -->
      <div class="flex mt-16 font-light text-gray-500">
        <div class="pr-4">
          <span class="uppercase">Quickly</span>
          <p class="text-2xl text-gray-900 font-semibold pt-2">Build</p>
        </div>
        <div class="pr-4">
          <span class="uppercase">Easily</span>
          <p class="text-2xl text-gray-900 font-semibold pt-2">Ship</p>
        </div>
        <div class="pr-4">
          <span class="uppercase">Effortlessly</span>
          <p class="text-2xl text-gray-900 font-semibold pt-2">Host</p>
        </div>
      </div>

      <!-- description -->
      <div class="description w-full sm: md:w-2/3 mt-16 text-gray-500 text-lg">
        Explore containerized tech stacks tailored to meet the needs of modern development. Whether you're building a
        front-end app, deploying back-end services, or scaling your infrastructure, we offer pre-configured solutions
        for seamless setup.
      </div>

      <button id="read-more" class="uppercase mt-5 text-sm font-semibold hover:underline">
        read more
      </button>
    </div>
  </div>
  <div class=" w-full md:w-1/2 h-screen">
    <img
      src="{% static 'stacks_hero.jpg' %}"
      class="h-full w-screen rounded-lg" alt="" />
  </div>
</div>
<div class="flex flex-col jsutify-center items-center">
  <div class="w-2/3 mx-auto p-6 text-center">
    <h2 class="text-6xl font-light mb-10">What are Stacks?</h2>
    <p class=" mb-5 text-lg">A <a class="text-emerald-400 font-bold">tech stack</a> refers to the combination of
      programming languages, frameworks, libraries, and tools that developers use to build software applications. A
      typical tech stack includes both the frontend (what users interact with) and the backend (the server-side
      components). For example, a common tech stack like the MERN stack consists of MongoDB (a database), Express.js (a
      web server framework), React (a frontend library), and Node.js (a runtime environment for JavaScript). These
      elements work together to help developers quickly create and deploy robust applications. Choosing the right tech
      stack is essential for building scalable, efficient, and maintainable software.</p>
    <p class=" mb-5 text-lg">At <a class="text-emerald-400 font-bold">Deploy Box</a>, we simplify this process by
      offering <a class="text-emerald-400 font-bold">containerized tech stacks.</a> Our platform provides
      pre-configured, containerized versions of popular tech stacks that are ready to be pulled and run immediately.
      Instead of spending hours configuring and installing dependencies, developers can simply choose their desired
      stack, and everything from setup to deployment is already handled. Whether you’re building a web application,
      setting up a database, or integrating third-party services, you can skip the initial setup and jump straight into
      development.</p>
    <p class="mb-5 text-lg">Our containerized stacks go beyond just pre-configured code. We automatically handle
      critical infrastructure tasks such as hosting, database integration, authentication, and even payment processing.
      This means that when you start using one of our stacks, you don’t have to worry about setting up a server,
      configuring security settings, or managing connections to a database. All of these complex tasks are managed for
      you, allowing you to focus entirely on building your product without getting bogged down by infrastructure
      concerns.</p>
    <p class=" text-lg">By providing these pre-packaged tech stacks, we empower developers to start building
      quickly and efficiently, whether they are working on a small project or a large-scale application. The combination
      of containerization and automated management of key components ensures that your development process is
      streamlined, secure, and scalable. With <a class="text-emerald-400 font-bold">Deploy Box</a>, you can spend less
      time configuring and more time creating.</p>
  </div>
</div>
  <div id="container-wrapper" class="flex flex-col justify-content items-center mt-16">
    <h2 class="text-center font-light text-6xl mb-10 -mt-16"> Our Containers</h2>

  </div>
</div>

<script id="handles read me auto scroll">
  const read_button = document.getElementById("read-more");

  read_button.addEventListener('click', function () {
    window.scrollTo({
      top: 1000, // Scroll 1000px down from the top
      behavior: 'smooth' // Enables smooth scrolling
    });
  });
</script>
<script>
  const containersUrl = "{% static 'containers.json' %}";
</script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}