{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Deploy Box</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block extra_head %}
    {% endblock %}
</head>

<body class="bg-gray-100">
    {% include 'dashboard_navbar.html'%}
    <!-- Main Content -->
    <div id="mainContent" class="ml-64 flex-1 transition-all duration-300 ease-in-out">
        {% block content %}
        <div class="container mx-auto">
            <section class="flex items-center justify-center min-h-screen">
                <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
            </section>
        </div>
        {% endblock %}
        {% include 'footer.html'%}
    </div>

    <script>
        // Main content is now always positioned to the right of the sidebar
        // No dynamic adjustment needed since sidebar is always expanded
    </script>
</body>

</html>